<h1><%= pluralize(@projects.size, 'Project') %></h1>

  <% @projects.each do |project| %>
  <article >
    <header>
      <h1><%= link_to project.name, project %></h1>
    </header>
    <p>
      <%= truncate(project.description, length: 150, seperator: ' ') %>
    </p>
    <table>
      <tr>
        <th>
          Target Pledge:
        </th>
        <td>
          <%= number_to_currency project.target_pledge_amount %>
        </td>
      </tr>
      <tr>
        <th>
          Website:
        </th>
        <td>
          <%= project.website %>
        </td>
      </tr>
      <tr>
        <th>
          Pledge End date:
        </th>
        <td>
          <%= project.pledging_ends_on %>
        </td>
      </tr>
    </table>
  </article>

    </li>
  <% end %>
